/*Fontes para o site */
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

@import url('https://fonts.googleapis.com/css?family=Modern+Antiqua');


body {
	margin:0;
	font-family:sans-serif, Verdana;
	background-color:#f8b2b2;

}
/* Menu que tem os itens de opções */
#menunav {

	width:100%;
	background-color:#7b2b3e;
	background-image: linear-gradient(to left, #7b2b3e, #491b26);

} /* Menu com itens importante*/
.navbar-brand {
	margin-right:150px;
	font-family: 'Satisfy', cursive;
	font-size:25px;
} 
#logonav {

	background: -webkit-linear-gradient(#d8eb58, #d56521);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#navbarMenu .navbar-nav a {
	padding-right:20px;
	padding-left: 20px;
}

/* Topo de login e rede social */
.topo {
	width:100%;
	height:30px;
	background-color:#35141c;
	background-image: linear-gradient(to right, #35141c, #36242a);
}
.topint {
	
	max-width:1040px;
	margin:auto;
	font-size:16px;
}
.topoleft {
	float:right;
}
.acesso {
	font-size:18px;
	margin-right:42px;
	line-height:30px;
	
	color:#FFF;
}
.toporight {
	float:left;
	
	margin-top:0px;
	height:26px;
	margin-left:10px;

}
.toporight ul {
	float:left;
	margin:auto;
	line-height:30px;
	padding-right:4px;
	margin-left:-34px;
}
.toporight a {
	float:left;
}
.toporight ul img {
	
	padding-right:5px;
} /* Aqui seria o top de cima onde terá rede social e login */
.toporight-rede ul a:hover {
	background-color:#534347;
}

/* Para o slideshow 
.slideshowExemplo {
	max-width:100%;
	width:1040px;
}

.carousel-inner img div {
	width:1040px;
	max-width:100%;
	height:800px;
} Seria outro tipo de tematica para aplicar 100% na imagem so com uma*/

/* Seria 2 duas imagens cada uma 50% */
.slide2 {
	margin-left:-15px;
	float:left;
}
.slide2 img{
	margin-top:-5px;
	height:655px;
	
	max-width:1400px;	
	margin-left:0px;
	
}
.imagemseparada img{
	margin-top:0px;
	margin-left:20px;
	height:496px;
	
	
}


/* Botão de busca, e area de busca */

.search-input-form {
	background-color:#7b2b3e;
	border:0;

}
.search-input-form img{
	width:25px;
}
.form-control {
	max-width:130px;
}

/* Conteúdo de produtos/venda, imagem grande */

#linhasub {

	display:flex;
	background-color:#f8b2b2;
	justify-content:center;
	margin-top:10px;
	margin-bottom:4px;
}
#linhasub2 {
	display:flex;
	background-color:#f8b2b2; 
	justify-content:center;
	margin-top:0px;
	margin-bottom:5px;
	
}
#Subtitulo2 {
	display:flex;
	height:10px;
	
}
.formatacao {
	display:flex;
	justify-content:center;
	width:1260px;
	background-color:#ece8e8;

}
#Subtitulo {
	display:flex;
	height:38px;
	line-height:38px;
	font-weight: normal;
	letter-spacing:2px;
	font-family:'Modern Antiqua', cursive;
	
}
#Subtitulo h4 {
	font-size:32px;

}
.fotoprincipal img {
	width:600px;
	height:500px;
	margin-left:80px;			
}

/* O retangulo que contém todas os itens de venda */
.compratot {
	background-color:green;
	
}
.quadradocompra {
	width:100%;
	max-width:1400px;
	height:450px;
	margin:0px;
	display:flex;
	justify-content:center;			
}

/* Imagem pequenas de compra  */
.conteudo {
	height:420px;
	width:300px;
	margin-top:8px;
	margin-left:10px;
	margin-right:10px;
	display:inline-block;
	justify-content:space-between;

	

}

/* Div onde fica o botão */
.produtomenor {
	height:25px;
	
	display:flex;
	align-items:bottom;
	


}

/* Botão de compra em baixo */
#compra {
	width:100%;
	height:25px;
	display:flex;
	justify-content:center;
	line-height:0px;
	background-color:;
	font-size:21px;
	text-transform:uppercase;
	font-family: 'PT Sans Narrow', sans-serif;

} 
.quadradocompra2 {
	width:100%;
	max-width:1400px;
	height:500px;
	margin:0px;
	display:flex;
	justify-content:center	
}

.comprando {
	width:100%;
	max-width:1400px;
	height:500px;
	display:flex;
	justify-content:center;
	background-color:red;

}
.roupa {
	height:420px;
	width:200px;
	margin-left:10px;
	margin-right:10px;
	display:inline-block;
	justify-content:space-between;

}

/* Agora agente vai fazer as bordas das imagens maiores */
.borda {
	background-color:black;
	height:15px;
	display:flex;
	justify-content:center;
	margin-bottom:-1px;
	
}